
/**------------------- TODAS AS PÁGINAS - INÍCIO -------------------**/
html body *::-moz-placeholder {color: #7e7e7e;}
header .side-nav li > a {color: #fefefe;}

#logo_cartola img {margin: 16px 5px; display: block;}
#creditos {position: absolute; bottom: 80px; width: 100%; text-align: center;}
#creditos p {margin: 0;}
/**------------------- TODAS AS PÁGINAS - FIM -------------------**/


/**------------------- PÁGINA INICIAL - INÍCIO -------------------**/
#principal > .row {margin: 10px 0 18px 0;}
#principal > .row .col {margin-bottom: 18px;}
#principal h5 i {vertical-align: top;}
#principal p.parag_principal {max-width: 95%;}

#index_mercado p i {font-size: 20px; vertical-align: middle;}

#art_mercado_fechado {display: inline-block; margin: 10px 0; padding: 8px 14px 6px;}
#artilheiros {height: 330px; overflow-x: hidden; overflow-y: scroll;}
#artilheiros .row {margin-bottom: 0; padding: 3px 0;}
#artilheiros .row .col {margin: 0;}
#artilheiros .row:nth-child(even) {background: #b7d9d7;}
#artilheiros .row:nth-child(odd) {background: #cce3e2;}
#artilheiros .artilheiro_foto img {
	width: 38px; height: 38px; background-color: #fefefe; overflow: hidden; margin: 0 -5px -24px;
	-webkit-border-radius: 19px; -moz-border-radius: 19px; border-radius: 19px;
}
#artilheiros .row .artilheiro_clube {margin: 8px 0;}
#artilheiros .artilheiro_clube img {width: 22px; height: 22px; margin: 0 -10px;}
#artilheiros .artilheiro_apelido {line-height: 120%; margin: 2px 0;}
#artilheiros .txt_align_right {text-align: right;}
#artilheiros .txt_align_middle {padding-top: 10px; padding-bottom: 10px}
/**------------------- PÁGINA INICIAL - FIM -------------------**/


/**------------------- PÁGINA ESCALAÇÃO AUTOMÁTICA - INÍCIO -------------------**/
#principal h5 {text-align: center; color: #00796b;}
#sugerirformacao #patrimonio_restante {margin-top: -20px; margin-bottom: 20px;}
#sugerirformacao #patrimonio_restante .input-field {padding-top: 10px; padding-bottom: 10px;}
#msg_mercado_fechado {display: inline-block; margin: 10px 0; padding: 8px 14px 6px; text-transform: uppercase;}

#principal #sugerirformacao > .row .col {margin-bottom: 8px;}
#sugerirformacao .input-field {margin: 10px 0;}
#sugerirformacao > .row, #sugerirformacao .input-field input {margin: 0 0 10px 0;}

#formacao_campo, #formacao_campo_ok {
	height: 520.6px; width: 380px; max-width: 100%; position: relative; margin: 0 auto;
	background: url("../img/campo.svg") no-repeat scroll center center / contain;
}
#j_gol, #j_f3_lat1, #j_f3_lat2, #j_f3_zag1, #j_f3_zag2, #j_f3_mei1, #j_f3_mei2, #j_f3_mei3, #j_f3_ata1, #j_f3_ata2, #j_f3_ata3, 
#j_f4_lat1, #j_f4_lat2, #j_f4_zag1, #j_f4_zag2, #j_f4_mei1, #j_f4_mei2, #j_f4_mei3, #j_f4_mei4, #j_f4_ata1, #j_f4_ata2, 
#j_f1_zag1, #j_f1_zag2, #j_f1_zag3, #j_f1_mei1, #j_f1_mei2, #j_f1_mei3, #j_f1_mei4, #j_f1_ata1, #j_f1_ata2, #j_f1_ata3, 
#j_f2_zag1, #j_f2_zag2, #j_f2_zag3, #j_f2_mei1, #j_f2_mei2, #j_f2_mei3, #j_f2_mei4, #j_f2_mei5, #j_f2_ata1, #j_f2_ata2, 
#j_f5_lat1, #j_f5_lat2, #j_f5_zag1, #j_f5_zag2, #j_f5_mei1, #j_f5_mei2, #j_f5_mei3, #j_f5_mei4, #j_f5_mei5, #j_f5_ata1, 
#j_f6_lat1, #j_f6_lat2, #j_f6_zag1, #j_f6_zag2, #j_f6_zag3, #j_f6_mei1, #j_f6_mei2, #j_f6_mei3, #j_f6_ata1, #j_f6_ata2, 
#j_f7_lat1, #j_f7_lat2, #j_f7_zag1, #j_f7_zag2, #j_f7_zag3, #j_f7_mei1, #j_f7_mei2, #j_f7_mei3, #j_f7_mei4, #j_f7_ata1, #j_tec, 
.formacao1 #jogador1, .formacao1 #jogador2, .formacao1 #jogador3, .formacao1 #jogador4, .formacao1 #jogador5, .formacao1 #jogador6, 
.formacao1 #jogador7, .formacao1 #jogador8, .formacao1 #jogador9, .formacao1 #jogador10, .formacao1 #jogador11, .formacao1 #jogador12, 
.formacao2 #jogador1, .formacao2 #jogador2, .formacao2 #jogador3, .formacao2 #jogador4, .formacao2 #jogador5, .formacao2 #jogador6, 
.formacao2 #jogador7, .formacao2 #jogador8, .formacao2 #jogador9, .formacao2 #jogador10, .formacao2 #jogador11, .formacao2 #jogador12, 
.formacao3 #jogador1, .formacao3 #jogador2, .formacao3 #jogador3, .formacao3 #jogador4, .formacao3 #jogador5, .formacao3 #jogador6, 
.formacao3 #jogador7, .formacao3 #jogador8, .formacao3 #jogador9, .formacao3 #jogador10, .formacao3 #jogador11, .formacao3 #jogador12, 
.formacao4 #jogador1, .formacao4 #jogador2, .formacao4 #jogador3, .formacao4 #jogador4, .formacao4 #jogador5, .formacao4 #jogador6, 
.formacao4 #jogador7, .formacao4 #jogador8, .formacao4 #jogador9, .formacao4 #jogador10, .formacao4 #jogador11, .formacao4 #jogador12, 
.formacao5 #jogador1, .formacao5 #jogador2, .formacao5 #jogador3, .formacao5 #jogador4, .formacao5 #jogador5, .formacao5 #jogador6, 
.formacao5 #jogador7, .formacao5 #jogador8, .formacao5 #jogador9, .formacao5 #jogador10, .formacao5 #jogador11, .formacao5 #jogador12, 
.formacao6 #jogador1, .formacao6 #jogador2, .formacao6 #jogador3, .formacao6 #jogador4, .formacao6 #jogador5, .formacao6 #jogador6, 
.formacao6 #jogador7, .formacao6 #jogador8, .formacao6 #jogador9, .formacao6 #jogador10, .formacao6 #jogador11, .formacao6 #jogador12, 
.formacao7 #jogador1, .formacao7 #jogador2, .formacao7 #jogador3, .formacao7 #jogador4, .formacao7 #jogador5, .formacao7 #jogador6, 
.formacao7 #jogador7, .formacao7 #jogador8, .formacao7 #jogador9, .formacao7 #jogador10, .formacao7 #jogador11, .formacao7 #jogador12 {
	position: absolute; transition: all 0.6s ease 0s; border: 1px solid #68e892; width: 50px; height: 50px; background-color: #26ca5e;
	-webkit-border-radius: 25px; -moz-border-radius: 25px; border-radius: 25px;
	-webkit-box-shadow: 0px 3px 2px 1px rgba(22,99,46,1); -moz-box-shadow: 0px 3px 2px 1px rgba(22,99,46,1); box-shadow: 0px 3px 2px 1px rgba(22,99,46,1);
}

.formacao0 #jogador1, .formacao0 #jogador2, .formacao0 #jogador3, .formacao0 #jogador4, .formacao0 #jogador5, .formacao0 #jogador6, 
.formacao0 #jogador7, .formacao0 #jogador8, .formacao0 #jogador9, .formacao0 #jogador10, .formacao0 #jogador11, .formacao0 #jogador12 {
	display: none;
}

#j_gol, .formacao1 #jogador1, .formacao2 #jogador1, .formacao3 #jogador1, .formacao4 #jogador1, .formacao5 #jogador1, 
.formacao6 #jogador1, .formacao7 #jogador1 {bottom: 12%; left: 44%;}
#j_tec, .formacao1 #jogador12, .formacao2 #jogador12, .formacao3 #jogador12, .formacao4 #jogador12, .formacao5 #jogador12, 
.formacao6 #jogador12, .formacao7 #jogador12 {bottom: 11%; left: 6%;}

/* 3-4-3 */
#j_f1_zag1, .formacao1 #jogador2 {left: 18%; bottom: 30%;} #j_f1_zag2, .formacao1 #jogador3 {left: 44%; bottom: 30%;}
#j_f1_zag3, .formacao1 #jogador4 {right: 18%; bottom: 30%;}
#j_f1_mei1, .formacao1 #jogador5 {left: 10%; top: 37%;} #j_f1_mei2, .formacao1 #jogador6 {left: 32%; top: 37%;}
#j_f1_mei3, .formacao1 #jogador7 {right: 32%; top: 37%;} #j_f1_mei4, .formacao1 #jogador8 {right: 10%; top: 37%;}
#j_f1_ata1, .formacao1 #jogador9 {left: 18%; top: 14%;} #j_f1_ata2, .formacao1 #jogador10 {left: 44%; top: 14%;}
#j_f1_ata3, .formacao1 #jogador11 {right: 18%; top: 14%;}

/* 3-5-2 */
#j_f2_zag1, .formacao2 #jogador2 {left: 18%; bottom: 30%;} #j_f2_zag2, .formacao2 #jogador3 {left: 44%; bottom: 30%;}
#j_f2_zag3, .formacao2 #jogador4 {right: 18%; bottom: 30%;}
#j_f2_mei1, .formacao2 #jogador5 {left: 7%; top: 29%;} #j_f2_mei2, .formacao2 #jogador6 {left: 25%; top: 40%;}
#j_f2_mei3, .formacao2 #jogador7 {left: 44%; top: 29%;} #j_f2_mei4, .formacao2 #jogador8 {right: 25%; top: 40%;}
#j_f2_mei5, .formacao2 #jogador9 {right: 7%; top: 29%;}
#j_f2_ata1, .formacao2 #jogador10 {left: 27.2%; top: 12%;} #j_f2_ata2, .formacao2 #jogador11 {right: 27.2%; top: 12%;}

/* 4-3-3 */
#j_f3_lat1, .formacao3 #jogador2 {left: 10%; top: 56%;} #j_f3_lat2, .formacao3 #jogador3 {right: 10%; top: 56%;}
#j_f3_zag1, .formacao3 #jogador4 {left: 31%; bottom: 30%;} #j_f3_zag2, .formacao3 #jogador5 {right: 31%; bottom: 30%;}
#j_f3_mei1, .formacao3 #jogador6 {left: 18%; top: 36%;} #j_f3_mei2, .formacao3 #jogador7 {left: 44%; top: 36%;}
#j_f3_mei3, .formacao3 #jogador8 {right: 18%; top: 36%;}
#j_f3_ata1, .formacao3 #jogador9 {left: 18%; top: 14%;} #j_f3_ata2, .formacao3 #jogador10 {left: 44%; top: 12%;}
#j_f3_ata3, .formacao3 #jogador11 {right: 18%; top: 14%;}

/* 4-4-2 */
#j_f4_lat1, .formacao4 #jogador2 {left: 10%; top: 56%;} #j_f4_lat2, .formacao4 #jogador3 {right: 10%; top: 56%;}
#j_f4_zag1, .formacao4 #jogador4 {left: 31%; bottom: 30%;} #j_f4_zag2, .formacao4 #jogador5 {right: 31%; bottom: 30%;}
#j_f4_mei1, .formacao4 #jogador6 {left: 10%; top: 31%;} #j_f4_mei2, .formacao4 #jogador7 {left: 31%; top: 36%;}
#j_f4_mei3, .formacao4 #jogador8 {right: 31%; top: 36%;} #j_f4_mei4, .formacao4 #jogador9 {right: 10%; top: 31%;}
#j_f4_ata1, .formacao4 #jogador10 {left: 27%; top: 12%;} #j_f4_ata2, .formacao4 #jogador11 {right: 27%; top: 12%;}

/* 4-5-1 */
#j_f5_lat1, .formacao5 #jogador2 {left: 10%; top: 56%;} #j_f5_lat2, .formacao5 #jogador3 {right: 10%; top: 56%;}
#j_f5_zag1, .formacao5 #jogador4 {left: 31%; bottom: 30%;} #j_f5_zag2, .formacao5 #jogador5 {right: 31%; bottom: 30%;}
#j_f5_mei1, .formacao5 #jogador6 {left: 11%; top: 23%;} #j_f5_mei2, .formacao5 #jogador7 {left: 25%; top: 40%;}
#j_f5_mei3, .formacao5 #jogador8 {left: 44%; top: 29%;} #j_f5_mei4, .formacao5 #jogador9 {right: 25%; top: 40%;}
#j_f5_mei5, .formacao5 #jogador10 {right: 11%; top: 23%;} #j_f5_ata1, .formacao5 #jogador11 {right: 44%; top: 12%;}

/* 5-3-2 */
#j_f6_lat1, .formacao6 #jogador2 {left: 6%; bottom: 43%;} #j_f6_lat2, .formacao6 #jogador3 {right: 6%; bottom: 43%;}
#j_f6_zag1, .formacao6 #jogador4 {left: 21%; bottom: 30%;} #j_f6_zag2, .formacao6 #jogador5 {left: 44%; bottom: 30%;}
#j_f6_zag3, .formacao6 #jogador6 {right: 21%; bottom: 30%;} #j_f6_mei1, .formacao6 #jogador7 {left: 24%; top: 31%;}
#j_f6_mei2, .formacao6 #jogador8 {left: 44%; top: 40%;} #j_f6_mei3, .formacao6 #jogador9 {right: 24%; top: 31%;}
#j_f6_ata1, .formacao6 #jogador10 {left: 27%; top: 12%;} #j_f6_ata2, .formacao6 #jogador11 {right: 27%; top: 12%;}

/* 5-4-1 */
#j_f7_lat1, .formacao7 #jogador2 {left: 6%; bottom: 43%;} #j_f7_lat2, .formacao7 #jogador3 {right: 6%; bottom: 43%;}
#j_f7_zag1, .formacao7 #jogador4 {right: 21%; bottom: 30%;} #j_f7_zag2, .formacao7 #jogador5 {left: 21%; bottom: 30%;}
#j_f7_zag3, .formacao7 #jogador6 {left: 44%; bottom: 30%;} #j_f7_mei1, .formacao7 #jogador7 {left: 10%; top: 25%;} 
#j_f7_mei2, .formacao7 #jogador8 {left: 31%; top: 36%;} #j_f7_mei3, .formacao7 #jogador9 {right: 31%; top: 36%;} 
#j_f7_mei4, .formacao7 #jogador10 {right: 10%; top: 25%;} #j_f7_ata1, .formacao7 #jogador11 {right: 44%; top: 12%;}

#formacao_campo_ok .jogador_formacao_ok {background-color: #fefefe;}
#formacao_campo_ok .jogador_formacao_ok img#img_atleta {
	width: 48px; height: 48px; overflow: hidden;
	-webkit-border-radius: 25px; -moz-border-radius: 25px; border-radius: 25px;
}

#invest_defesa, #invest_meiocampo, #invest_ataque {
	position: absolute; right: 1.5%; width: 22px; height: 22px;
	background: url("../img/money.png") no-repeat scroll center center / contain;
}
#invest_defesa {bottom: 19%;}
#invest_meiocampo {bottom: 50%;}
#invest_ataque {bottom: 81%;}
#coluna2 .maisdinheiro {width: 35px; height: 35px;}

#formacao_campo_ok #img_clube {position: absolute; width: 30px; height: 30px; bottom: -10px; right: -12px;}

.coluna1result i {font-size: 22px; vertical-align: middle;}
.coluna1result p:first-of-type {padding-top: 18px; border-top: 1px solid #e1e1de;}
.coluna1result p {margin: 10px 0; padding: 8px 0 16px; border-bottom: 1px solid #e1e1de;}
.coluna1result .row {margin-top: 24px;}

#coluna3 p {text-align: center; padding: 10px;}

#formacao_lista > div:first-child {border-top: 1px solid #e1e1de;}
#formacao_lista > div {border-bottom: 1px solid #e1e1de; padding: 5px 0 4px;}
#principal #formacao_lista .col {margin-bottom: 0;}

.lista_status_atleta i {font-size: 20px;}
.lista_preco_atleta {text-align: right;}
/**------------------- PÁGINA ESCALAÇÃO AUTOMÁTICA - FIM -------------------**/


/**------------------- PÁGINA CONTATO - INÍCIO -------------------**/
#form_contato, #sobretxt, #raiox {float: none; margin: 0 auto;}
/**------------------- PÁGINA CONTATO - FIM -------------------**/


/**------------------- PÁGINA PARCIAIS DA RODADA - INÍCIO -------------------**/
#tabela_parciais_container, #tabela_raiox_container {padding: 20px;}
#tabela_parciais_container tfoot, #tabela_raiox_container tfoot {display: table-header-group;}
#tabela_parciais_container table tbody tr:nth-child(even), #tabela_raiox_container table tbody tr:nth-child(even) {background: #b7d9d7;}
#tabela_parciais_container table tbody  tr:nth-child(odd), #tabela_raiox_container table tbody tr:nth-child(odd) {background: #cce3e2;}
#tabela_parciais_wrapper, #tabela_raiox_wrapper {width: 100%;}
.dataTables_wrapper .dataTables_paginate .paginate_button {padding: 0;}
#tabela_parciais_filter, #tabela_parciais_length, #tabela_raiox_filter, #tabela_raiox_length {display: none;}
#scouts_atualizar {display: inline-block; margin: 10px 0; padding: 8px 14px 6px;}
/**------------------- PÁGINA PARCIAIS DA RODADA - FIM -------------------**/


/**------------------- MODEL DIALOGS - INÍCIO -------------------**/
#principal #modal_raiox .modal-content {padding-top: 30px;}
#principal .modal.modal-fixed-footer .modal-footer {bottom: -4px;}
#principal .modal.modal-fixed-footer {height: 80%; max-height: 80%; overflow: hidden;}
#principal #modal_raiox .fetched-data-raiox {padding-bottom: 50px;}
#principal .modal .modal-content h6.nome_atleta_raiox {position: absolute; top: -5px; left: 12px;}
#principal .modal .modal-content h6 img {width: 20px; height: 20px; vertical-align: bottom;}

#principal .modal.fade {margin-top: 0; top: 22%;}
/*.modal-dialog .row {margin-bottom: 5px;}*/
#principal .modal-dialog .row .col {margin-bottom: 5px;}
#principal .modal .modal-content {padding: 10px;}
#principal .modal .modal-header {min-height: 60px; padding: 10px;}
#principal .modal .modal-header h5 {font-size: 20px; margin: 8px 0; width: 100%; text-transform: uppercase;}

#principal .modal .modal-content h6 {font-weight: 500; text-align: center;}
#principal .modal .modal-content table tr:nth-child(even) {background: #b7d9d7;}
#principal .modal .modal-content table tr:nth-child(odd) {background: #cce3e2;}
#principal .modal .modal-content table tr td {padding: 3px 6px; text-align: center;}
#principal .modal .modal-content table tr td i {font-size: 20px; vertical-align: middle;}
#principal .modal .modal-content table tr td img.escudo_confronto {width: 20px; height: 20px; vertical-align: middle;}
#principal .modal .modal-footer {height: auto;}
#principal .modal .modal-footer a {font-size: 14px; font-weight: 500; height: 32px; line-height: 100%; margin: 5px 0; padding: 10px 20px;}
/**------------------- MODEL DIALOGS - FIM -------------------**/


/**------------------- TESTES - INÍCIO -------------------**/
#iframe_container {overflow: hidden;}
#iframe_content {margin-bottom: -120px; margin-top: -60px;}
/**------------------- TESTES - FIM -------------------**/





.highcharts-credits, .highcharts-contextbutton {display: none;}
.highcharts-background {background: none transparent;}
.highcharts-column-series .highcharts-point {stroke-width: 0;}

#modal_raiox #tab1, #modal_raiox #tab2, #modal_raiox #tab3 {display: none;}



.modal .tabs {height: 36px; margin-bottom: 10px;}
.modal .tabs .tab {height: 35px; line-height: 100%;}
.modal .tabs .tab a {padding: 10px;}


/*
.nav-tabs{border-bottom:1px solid #ddd}
.nav-tabs>li{float:left;margin-bottom:-1px}
.nav-tabs>li>a{margin-right:2px;font-size: 14px;line-height:1.42857143;border:1px solid transparent;border-radius:4px 4px 0 0}
.nav-tabs>li>a:hover{border-color:#eee #eee #ddd}
.nav-tabs>li.active>a,.nav-tabs>li.active>a:hover,.nav-tabs>li.active>a:focus{
	color:#555;background-color:#fff;border:1px solid #ddd;border-bottom-color:transparent;cursor:default;
}
.nav-tabs.nav-justified{width:100%;border-bottom:0}
.nav-tabs.nav-justified>li{float:none}
.nav-tabs.nav-justified>li>a{text-align:center;margin-bottom:5px}
.nav-tabs.nav-justified>.dropdown .dropdown-menu{top:auto;left:auto}@media (min-width:768px){
	.nav-tabs.nav-justified>li{display:table-cell;width:1%}
	.nav-tabs.nav-justified>li>a{margin-bottom:0}
}
.nav-tabs.nav-justified>li>a{margin-right:0;border-radius:4px}
.nav-tabs.nav-justified>.active>a,.nav-tabs.nav-justified>.active>a:hover,.nav-tabs.nav-justified>.active>a:focus{border:1px solid #ddd}
@media (min-width:768px){
	.nav-tabs.nav-justified>li>a{border-bottom:1px solid #ddd;border-radius:4px 4px 0 0}
	.nav-tabs.nav-justified>.active>a,.nav-tabs.nav-justified>.active>a:hover,.nav-tabs.nav-justified>.active>a:focus{border-bottom-color:#fff}
}
.nav-pills>li{float:left}
.nav-pills>li>a{border-radius:4px}
.nav-pills>li+li{margin-left:2px}
.nav-pills>li.active>a,.nav-pills>li.active>a:hover,.nav-pills>li.active>a:focus{color:#fff;background-color:#428bca}
.nav-stacked>li{float:none}
.nav-stacked>li+li{margin-top:2px;margin-left:0}
.nav-justified{width:100%}
.nav-justified>li{float:none}
.nav-justified>li>a{text-align:center;margin-bottom:5px}
.nav-justified>.dropdown .dropdown-menu{top:auto;left:auto}
@media (min-width:768px){
	.nav-justified>li{display:table-cell;width:1%}
	.nav-justified>li>a{margin-bottom:0}
}
.nav-tabs-justified{border-bottom:0}
.nav-tabs-justified>li>a{margin-right:0;border-radius:4px}
.nav-tabs-justified>.active>a,.nav-tabs-justified>.active>a:hover,.nav-tabs-justified>.active>a:focus{border:1px solid #ddd}
@media (min-width:768px){
	.nav-tabs-justified>li>a{border-bottom:1px solid #ddd;border-radius:4px 4px 0 0}
	.nav-tabs-justified>.active>a,.nav-tabs-justified>.active>a:hover,.nav-tabs-justified>.active>a:focus{border-bottom-color:#fff}
}
.tab-content>.tab-pane{display:none}
.tab-content>.active{display:block}
.nav-tabs .dropdown-menu{margin-top:-1px;border-top-right-radius:0;border-top-left-radius:0}
.nav-tabs > li > a {display: block;padding: 6px 10px;position: relative;}
ul.nav-tabs {clear: both;display: table;width: 100%;}
*/







